*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    font-family: "Poppins", sans-serif;  
}
.container-hero {
    display: flex;
  width: 100%;
  background-color: var(--bg-dark);
 min-height: 60rem;
  overflow: hidden;
  position: relative;
  height: 100%;
  margin: 0 auto;
}

.layer {
  position: absolute;
  bottom: 0;
  left: -10%;
  width: 120%;
  height: auto;
  display: block;
}
.wave-01 {
bottom: 0;
  z-index: 1;
}
.wave-1 {
bottom: 0;
  z-index: 2;
}
.wave-2 {
bottom: 0;
  z-index: 3;
}
.wave-3 {
bottom: 0;
  z-index: 4;
}
.wave-4 {
 bottom: 0;
  z-index: 5;
}
.wave-5 {
 bottom: 0;
  z-index: 6;
}

.wave-6 {
 bottom: 0;
  z-index: 7;
}
/* ПРАВОЕ дерево */
.treeR {
  position: absolute;
  z-index: 8;
 
  bottom: clamp(4rem, 3vw, 4rem);
  right: clamp(4rem, -2vw, -1rem);

  width: clamp(160px, 18vw, 420px);
  height: auto;

  transform: rotate(-4deg);

  pointer-events: none;
  user-select: none;
}

/* ЛЕВОЕ дерево */
.treeL {
  position: absolute;
  z-index: 8;

  bottom: clamp(8rem, 3vw, 4rem);
  left: clamp(4rem, -2vw, -1rem);

  width: clamp(160px, 18vw, 420px);
  height: auto;

  transform: rotate(10deg);

  pointer-events: none;
  user-select: none;
}

.wave-7 {
 bottom: 0;
  z-index: 9;
}
.person {
  position: absolute;
  bottom: 0;

  height: auto;
  display: block;
   z-index: 8;
   width: 435px;
   height: 740px;
   margin-left: 34rem;
   margin-bottom: 8rem;
  left: -200px;
animation: movePerson 6s forwards;
}
@keyframes movePerson {
  from {
    left: -200px;
  }
  to {
    left: 50%;
    transform: translateX(-50%);
  }
}
.header{
 position: absolute;
  top: 0;
  left: 0;
width: 100%;
  z-index: 1000;
}
.header-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
}

.header-nav-wrap{
    display: flex;
    gap: 2rem;
}
.link{
    color: var(  --text-light);
    font-size: 1rem;
    font-family:"Poppins", sans-serif ;
   text-decoration: none;
}

@media (min-width: 1600px) {
  .container-hero {
    min-height: 110vh;
  }

  .treeR,
  .treeL {
    width: clamp(460px, 34vw, 1050px);
    bottom: clamp(3rem, 4vh, 8rem);
  }
}

@media (min-width: 1441px) and (max-width: 1599px) {
  .treeR,
  .treeL {
    width: clamp(320px, 24vw, 520px);
    bottom: clamp(2.5rem, 3.5vh, 6rem);
  }
}

@media (max-width: 1440px) {
  .treeR,
  .treeL {
    width: clamp(420px, 32vw, 900px);
  }
}



@media (max-width: 1200px) {
  .treeR,
  .treeL {
    width: clamp(400px, 28vw, 850px);
    bottom: 2rem;
  }

  .treeL {
    left: 1rem;
  }

  .treeR {
    right: 1rem;
  }
}



@media (max-width: 860px) {
  .treeR,
  .treeL {
    width: clamp(300px, 18vw, 520px);
    bottom: 1.5rem;
  }

  .treeL {
    left: 0;
  }

  .treeR {
    right: 0;
  }
}



@media (max-width: 380px) {
  .container-hero {
    min-height: 280px;
  }

  .treeR,
  .treeL {
    width: 160px;
    bottom: 1rem;
  }
}









